*{
  margin:0;
  padding:0;
}
.header_bg{
  width:100%;
  height:90px;
  background-image: url(../bg-img/bg_header.png);
  position: relative;
}
.head_left span{
  color:#fff;
  font-size:30px;
  position: absolute;
  font-family: '经典综艺体简';
  top:25px;
  left:50px;
  background-image:-webkit-linear-gradient(bottom,#0096e3,#fff); 
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent; 
}
.heder_main{
  position: absolute;
  top:15px;
  left:41%;
}
.heder_main a img{
  vertical-align: middle;
}
.heder_main span{
  font-size:40px;
  position: relative;
  font-family: '经典综艺体简';
  top:8px;
  margin-left:10px;
  background-image:-webkit-linear-gradient(bottom,#00d2ff,#fff); 
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}
.head_right p{
  color:#fff;
  font-size:18px;
  position: absolute;
  color:#00fcff;
}
.head_right p:last-child{
  background-image:-webkit-linear-gradient(bottom,#0096e3,#fff); 
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}